body  { font-family: 'Fira Sans', sans-serif;
        margin: 0%;}
#section1  { margin-top: -85px;
             padding-bottom: 20%;
             background-image: url(images/flood3.jpg);
             background-repeat: no-repeat;}
#d1  { padding-bottom: ;}             
#h1  { font-size: 100px;
       text-align: center;
       padding-top: 120px;        
       color: white;}
#h12 { font-size: 100px;
       text-align: center;        
      color: white;}    
.p1  { font-size: 30px;
       text-align: center;
       color: white;}
#a1  { font-size: 40px;
       text-align: center;
       text-decoration: none;
       color: black;
       margin-left: 45%;
       padding: 5px 10px;
       border-radius: 10px;
       background-image: linear-gradient(khaki,lightyellow);}       
#d2  { text-align: center;}     
.p2  { font-size: 20px;}  
#tk  { display: flex;
       margin-left: 31%;}
.tk  { font-weight: bold;
       color: white;
       margin: 25px;
       padding: 25px;
       background-image: linear-gradient(tomato,pink);
       border: solid 2px;
       border-color: pink;
       border-radius: 5px;}
#amt { width: 20%;
       margin: 2% 40%;
       
       border-top: 0px;
       border-left: 0px;
       border-right: 0px;
       text-align: center;}  
#a2  { font-size: 150%;
       text-align: center;
       text-decoration: none;
       color: white;
       margin:0% 46%;
       padding: 7px 10px;
       border-radius: 10px;
       background-image: linear-gradient(pink,tomato);}            
#d3  { text-align: center;}
.p3  { font-size: 30px;}       
#box { display: flex;
       text-align: center;}
.box  { border: solid 5%;
        border-radius: 3%; 
        padding: 2%;
        margin: 7%;
        width: 25%;}
#section4  { display: flex;
             margin-bottom: 10%;}        
#d4  { text-align: center;
       border: solid 5%;
       border-radius: 3%; 
       padding: 2%;
       margin-left: 12%;
       width: 15%;}
#d5  { margin-left: 20%;}    
#a3  { font-size: 150%;
       text-align: center;
       text-decoration: none;
       color: white;
       margin:0% 25%;
       padding: 7px 10px;
       border-radius: 10px;
       background-image: linear-gradient(pink,tomato);}   
#d6  { display: flex; 
       margin-bottom: 10%;}   
#d7  { margin-left: 10%;}
#d8  { text-align: center;
       border: solid 5%;
       border-radius: 3%; 
       padding: 2%;
       margin-left: 12%;
       width: 15%;}    
#d9  { text-align: center;}
.pt  { font-size: 150%;}       
#email  { text-align: center;
          width: 30%;
          margin: 10% 35%;
          background-image: linear-gradient(khaki,tomato);
          border-radius: 2%;}
#ft  { text-align: center;
       color: red;
       padding-top: 5%;
       padding-bottom: 5%;
       background-color: black;
       font-family: cursive ;}